PORT=5000
MONGODB_URI=mongodb+srv://mawiyahh3_db_user:Maw2004@cluster0.gpi3toy.mongodb.net/?appName=Cluster0
JWT_SECRET=super_secret_session_token_key_change_in_production
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
